#sidebar {
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 225px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 30px;
	border-right: 1px solid #bbb;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	-webkit-overflow-scrolling: touch;
}

#sidebar a {
	color: inherit;
	display: block;
}

a#github {
	background-image: url(https://github.com/favicon.ico);
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	background-size: 32px 32px;
	height: 32px;
	line-height: 32px;
	padding-left: 40px;
}

a#twitter {
	background-image: url(https://abs.twimg.com/favicons/favicon.ico);
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
	background-size: 16px 16px;
	height: 16px;
	line-height: 16px;
	padding-left: 20px;
}

#content {
	padding: 40px;
	margin: -30px 0 0 225px;
	height: 100%;
	min-width: 760px;
	background-color: #fcfafa;
}

h1 > span.alpha {
	color: Orange;
	font-size: 50%;
}

img#completion {
	float: right;
	width: 330px;
	margin: 25px 0 30px 45px;
}

div.pre, span.cmd {
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 10px 15px;
}

table#usage td {
	vertical-align: top;
	padding: 5px 0;	
}

table#usage td:first-child {
	padding-right: 40px;
}

pre, div.pre, span.cmd {
	font-family: Menlo, Consolas, "Courier New", monospace;	
	font-size: 14px;
}

span.cmd {
	padding: 1px 3px;
	border-radius: 2px;
}

p, pre, div.pre {
	width: 730px
}

.nowrap {
	white-space: nowrap;
}

