h1, h2, h3, h4 {
	font-weight: normal;
}

td {
	vertical-align: top;
	padding: 0 2em;
}

td:first-child {
	white-space: nowrap;
	width: 150px;
}

nav {
	padding-top: 1.4em;
	padding-bottom: 2em;
}

nav > h4 {
	margin-bottom: .5em;
}

nav > p {
	margin: 0 0 0 1em;
}

nav > p + h4 {
	margin-top: .6em;
}

pre {
	padding: 9.5px;
	background-color: #f8f8f8;
	font-size: 100%;
}

code {
	color: inherit;
	background-color: #f5f5f5;
	padding: 2px;
	font-size: 100%;
}

pre code { 
	display: block;
	padding: 0.5em;
	font-size: 100%;
}

h2 > code, h3 > code, h4 > code {
	background-color: transparent;
	padding: 0;
}

a:hover{
	text-decoration: none;
}

h1 > a {
	color: inherit;
}

#links {
	padding-top: 26px;
	float: right;
}