<h4><a href="/#">home</a></h4>

<p><a href="/#quick-start">Quick start</a></p>

<p><a href="/#typewriters">TypeWriters</a></p>

<p><a href="/#faq">FAQ</a></p>

<h4><a href="/slice">slice</a></h4>

<p><a href="/slice/#aggregatet">Aggregate[T]</a></p>

<p><a href="/slice/#all">All</a></p>

<p><a href="/slice/#any">Any</a></p>

<p><a href="/slice/#average">Average</a></p>

<p><a href="/slice/#averaget">Average[T]</a></p>

<p><a href="/slice/#count">Count</a></p>

<p><a href="/slice/#distinct">Distinct</a></p>

<p><a href="/slice/#distinctby">DistinctBy</a></p>

<p><a href="/slice/#first">First</a></p>

<p><a href="/slice/#groupbyt">GroupBy[T]</a></p>

<p><a href="/slice/#max">Max</a></p>

<p><a href="/slice/#maxt">Max[T]</a></p>

<p><a href="/slice/#maxby">MaxBy</a></p>

<p><a href="/slice/#min">Min</a></p>

<p><a href="/slice/#mint">Min[T]</a></p>

<p><a href="/slice/#minby">MinBy</a></p>

<p><a href="/slice/#select">Select</a></p>

<p><a href="/slice/#sort">Sort</a></p>

<p><a href="/slice/#sortby">SortBy</a></p>

<p><a href="/slice/#where">Where</a></p>

<h4><a href="/container">container</a></h4>
