<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=600, initial-scale=.5">
	{% assign lvl = page.url | append:'X' | split:'/' | size %}
	{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

	<link rel="stylesheet" href="{{ relative }}bootstrap.min.css">
	<link rel="stylesheet" href="{{ relative }}gen.css">
	<link rel="icon" type="image/png" href="{{ relative }}gopher.png">
	<title>
		gen · type-driven code generation for Go
		{% if page.title != "home" %}
			· {{ page.title }} 
		{% endif %}
	</title>

	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td>
						<div class="nav">
							<h4><a href="{{ relative }}#">home</a></h4>

							<p><a href="{{ relative }}#quick-start">Quick start</a></p>

							<p><a href="{{ relative }}#faq">FAQ</a></p>

							<h4><a href="{{ relative }}typewriters/#">typewriters</a></h4>

							<p><a href="{{ relative }}typewriters/#listing-typewriters">Listing</a></p>

							<p><a href="{{ relative }}typewriters/#adding-third-party-typewriters">Adding</a></p>

							<p><a href="{{ relative }}typewriters/#implementing-typewriters">Implementing</a></p>

							<h4><a href="{{ relative }}slice/#">slice</a></h4>

							<p><a href="{{ relative }}slice/#aggregatet">Aggregate[T]</a></p>

							<p><a href="{{ relative }}slice/#all">All</a></p>

							<p><a href="{{ relative }}slice/#any">Any</a></p>

							<p><a href="{{ relative }}slice/#average">Average</a></p>

							<p><a href="{{ relative }}slice/#averaget">Average[T]</a></p>

							<p><a href="{{ relative }}slice/#count">Count</a></p>

							<p><a href="{{ relative }}slice/#distinct">Distinct</a></p>

							<p><a href="{{ relative }}slice/#distinctby">DistinctBy</a></p>

							<p><a href="{{ relative }}slice/#first">First</a></p>

							<p><a href="{{ relative }}slice/#groupbyt">GroupBy[T]</a></p>

							<p><a href="{{ relative }}slice/#max">Max</a></p>

							<p><a href="{{ relative }}slice/#maxt">Max[T]</a></p>

							<p><a href="{{ relative }}slice/#maxby">MaxBy</a></p>

							<p><a href="{{ relative }}slice/#min">Min</a></p>

							<p><a href="{{ relative }}slice/#mint">Min[T]</a></p>

							<p><a href="{{ relative }}slice/#minby">MinBy</a></p>

							<p><a href="{{ relative }}slice/#selectt">Select[T]</a></p>

							<p><a href="{{ relative }}slice/#sort">Sort</a></p>

							<p><a href="{{ relative }}slice/#sortby">SortBy</a></p>

							<p><a href="{{ relative }}slice/#where">Where</a></p>

							<h4><a href="{{ relative }}optional/#">optional</a></h4>

							<p><a href="{{ relative }}optional/#set">Set</a></p>

							<p><a href="{{ relative }}optional/#list">List</a></p>

							<p><a href="{{ relative }}optional/#ring">Ring</a></p>

						</div>
					</td>
					<td>
						<p id="links">
							<a href="https://github.com/clipperhouse/gen">source</a>
							·
							<a href="https://github.com/clipperhouse/gen/blob/master/CHANGELOG.md">changelog</a>
						</p>
						<h1><a href="{{ relative }}">gen (v4)</a></h1>
						{{ content }}
					</td>
				</tr>
			</tbody>
		</table><br />
		<script src="{{ relative }}jquery.min.js"></script>		
		<script type="text/javascript" src="{{ relative }}highlight.pack.js"></script>
		<link rel="stylesheet" href="{{ relative }}github.css">
		<script type="text/javascript">
			$(function() {
				$("pre > code").each(function(){
					var el = $(this);
					var text = el.text();
					var isGo = text.indexOf('//') > -1 || text.indexOf('func') > -1;
					var cls = isGo ? 'go' : 'nohighlight';
					el.addClass(cls);
				});
				hljs.initHighlightingOnLoad();
			});
		</script>
	</body>
</html>
