<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=600, initial-scale=.5">
	{% assign lvl = page.url | append:'X' | split:'/' | size %}
	{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

	<link rel="stylesheet" href="{{ relative }}bootstrap.min.css">
	<link rel="stylesheet" href="{{ relative }}gen.css">
	<link rel="icon" type="image/png" href="{{ relative }}gopher.png">
	<title>
		gen · type-driven code generation for Go
		{% if page.title != "home" %}
			· {{ page.title }} 
		{% endif %}
	</title>

	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td>
						<div class="nav">{% include nav.html %}</div>
					</td>
					<td>
						<p id="links">
							<a href="https://github.com/clipperhouse/gen">source</a>
							·
							<a href="https://github.com/clipperhouse/gen/blob/master/CHANGELOG.md">changelog</a>
						</p>
						<h1><a href="/">gen</a></h1>
						{{ content }}
					</td>
				</tr>
			</tbody>
		</table><br />
		<script src="{{ relative }}jquery.min.js"></script>		
		<script type="text/javascript" src="{{ relative }}highlight.pack.js"></script>
		<link rel="stylesheet" href="{{ relative }}github.css">
		<script type="text/javascript">
			$(function() {
				$("code").addClass("go");
				hljs.initHighlightingOnLoad();
			});
		</script>
	</body>
</html>
